Repository opacapp/opacclient, pull requests merged in 2019-01, with the labels that each got.

#547 Fix Adis Stuttgart 2018-12
  opacclient/libopac/src/main/java/de/geeksfactory/opacclient/apis/Adis.java
  opacclient/libopac/src/main/resources/meanings/general.json
Labels: bug, libopac

#554 Shrink icon size in search results to 40 dp
  opacclient/opacapp/src/main/java/de/geeksfactory/opacclient/frontend/ResultsAdapter.java
Labels: enhancement, user interface

#540 implement support for NetBiblio
  opacclient/libopac/build.gradle
  opacclient/libopac/src/main/java/de/geeksfactory/opacclient/OpacApiFactory.java
  opacclient/libopac/src/main/java/de/geeksfactory/opacclient/apis/NetBiblio.kt
  opacclient/libopac/src/main/java/de/geeksfactory/opacclient/i18n/StringProvider.java
  opacclient/libopac/src/main/resources/meanings/general.json
  opacclient/libopac/src/test/java/de/geeksfactory/opacclient/apis/NetBiblioTest.kt
  opacclient/libopac/src/test/resources/netbiblio/lent/basel.html
  opacclient/libopac/src/test/resources/netbiblio/lent/basel_empty.html
  opacclient/libopac/src/test/resources/netbiblio/reservations/basel.html
  opacclient/libopac/src/test/resources/netbiblio/reservations/basel_empty.html
  opacclient/opacapp/src/main/res/values-de/strings_api_errors.xml
  opacclient/opacapp/src/main/res/values/strings_api_errors.xml
Labels: libopac, new opac api
